<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>
        {% block title %}Gallery{% endblock title %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    {% block style %}
        {#Compiling all files in one by assetic bundle#}
        {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/jquery-ui/themes/dark-hive/jquery-ui.min.css'
            'assets/vendor/components-font-awesome/css/font-awesome.min.css'
            'css/dropzone/dropzone.css'
            'css/blueimp/blueimp-gallery.min.css'
            'css/theme-default.css'
            filter='uglifycss' filter='cssrewrite' output='css/app.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock style %}

    {% block javascript %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {#Compiling all files in one by assetic bundle#}
        {#'assets/vendor/dropzone/dist/min/dropzone.min.js'#}
        {% javascripts filter="?jsqueeze" output="js/app.js"
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/jquery-ui/jquery-ui.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            'assets/vendor/iCheck/icheck.min.js'
            'js/plugins/dropzone/dropzone.min.js'
            'assets/vendor/mustache.js/mustache.min.js'
            'assets/vendor/jquery-lazy/jquery.lazy.min.js'
            'js/plugins/blueimp/jquery.blueimp-gallery.min.js'
            'js/src/template-plugins.js'
            'js/src/template-actions.js'
            '@GalleryBundle/Resources/public/AlbumManager.js'
            '@GalleryBundle/Resources/public/GalleryEventHandler.js'
            '@GalleryBundle/Resources/public/Templating.js'
            '@GalleryBundle/Resources/public/Routing.js'
            '@GalleryBundle/Resources/public/InterfaceControls.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascript %}

</head>
<body>
    {% block page %}
    {% endblock page %}

    {% include '@Gallery/widget/alerts_popups.html.twig' %}

    <!-- START PRELOADS -->
    <audio id="audio-alert" src="/audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="/audio/fail.mp3" preload="auto"></audio>
    <!-- END PRELOADS -->
</body>
</html>






