/app/cache/*
/app/logs/*
/app/bootstrap.php.cache
/app/config/parameters.yml
!app/cache/.gitkeep
!app/logs/.gitkeep

/web/bundles/

/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.idea/
app/logs

project_access.log
project_error.log
