<div id="modal-album-add" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create album</h4>
            </div>
            <div class="modal-body">
                <h5 class="modal-title">Album title:</h5>
                <input id="add-album-title" class="form-control" placeholder="New album title" required autofocus>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-album-submit">Create</button>
            </div>
        </div>

    </div>
</div>