{% extends '@Gallery/template/base.html.twig' %}

{% block page %}
    <div class="page-container">

        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-cog"></span></a>
                </li>
                <!-- END SIGN OUT -->

            </ul>
            <!-- END X-NAVIGATION VERTICAL -->

            <!-- START CONTENT FRAME -->
            <div class="content-frame">

                <!-- START CONTENT FRAME TOP -->
                <div class="content-frame-top">
                    <div class="page-title">
                        <h2><span class="fa fa-image"></span> <span id="album-title">Gallery</span></h2>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-album-add">
                            <span class="fa fa-plus"></span> Create Album
                        </button>
                        <button class="btn btn-primary upload-button">
                            <span class="fa fa-upload"></span> Upload Photos
                        </button>
                    </div>
                </div>

                <!-- START CONTENT FRAME RIGHT -->
                <div class="content-frame-right">
                    <div class="list-group border-bottom push-down-20" id="album-list">
                    </div>
                    <h4>Drop your photos here:</h4>
                    <div class="block push-up-10">
                        <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone dropzone-mini" id="photo-dropzone">
                            <input type="hidden" name="album" value="0">
                        </form>
                    </div>
                </div>
                <!-- END CONTENT FRAME RIGHT -->

                <!-- START CONTENT FRAME BODY -->
                <div class="content-frame-body content-frame-body-left">
                    <div id="paginator" class="pull-left push-up-10">
                    </div>
                    <div class="pull-right push-up-10">
                        <div class="btn-group">
                            <button class="btn btn-primary" id="gallery-toggle-items"><i class="fa fa-check-square-o"></i> Toggle All</button>
                            <button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>
                        </div>
                    </div>

                    <div id="empty-gallery-message" hidden>
                        <h3>
                            No images in album<br>
                            <a style="cursor: pointer;" class="upload-button">Upload images</a>
                        </h3>
                    </div>
                    <div class="gallery" id="links">
                    </div>
                </div>
                <!-- END CONTENT FRAME BODY -->
            </div>
            <!-- END CONTENT FRAME -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- BLUEIMP GALLERY -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <!-- END BLUEIMP GALLERY -->

    <!-- Modals -->
    {% include '@Gallery/widget/modal_album_add.html.twig' %}
    {% include '@Gallery/widget/modal_media_edit.html.twig' %}
    <!-- End Modals -->

    <!-- Client Render -->
    {% include '@Gallery/template/client_render.html.twig' %}
    <!-- Client Render -->

    <script>
        Dropzone.options.photoDropzone = {
            init: function() {
                this.on("complete", function() {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) { //wait when all files are complete
                        GalleryEventHandler.onUploadComplete();
                    }
                });

                this.on("addedfile", function(file) {
                    if (AlbumManager.data.albumList == undefined || AlbumManager.data.albumList.length == 0) {
                        this.removeFile(file);
                        popup('info', 'Please select album to upload files<br>Or create your first album');
                    }
                });
            }
        };
    </script>
{% endblock page %}



